[submodule "packages/json_schema_builder/submodules/JSON-Schema-Test-Suite"]
	path = packages/genui/submodules/JSON-Schema-Test-Suite
  url = https://github.com/json-schema-org/JSON-Schema-Test-Suite.git